
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper{
  a{
    text-decoration: none;
  }
}

// // @media(max-width: 425px){
// //   .intro{
// //     margin-right: -30px;
// //     overflow: hidden;
// //     position: relative;
// //   }
// // }
//
// @media (max-width: 425px){
//   .myContainer{
//     margin-right: -150px;
//     // overflow: hidden;
//     position: relative;
//   }
// }


//////////////////////////////// NAV BAR /////////////////////////////////////
.myNavBar{
  background-color: rgb(82,81,89);
  max-width: 100%;
}

.navBarContent{
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    text-align: center;
    font-size: 20px;

    .navLinks{
      margin-right: 5vw;
    }
}

.navBarContent{
  a{
    color: rgb(0,130,214);
    text-shadow: 1px 2px rgb(0,0,0);
    font-family: 'Cinzel', serif;

    &:hover{
      text-shadow: 0px 0px;
    }
  }
}

@media (max-width: 725px){
  .navBarContent{
      font-size: 18px;
  }
}

@media (max-width: 520px){
  .navBarContent{
      font-size: 16px;
  }
}

@media (max-width: 520px){
  .navBarColumns{
    padding-left: 5px;
    padding-right: 5px;
  }

  .navBarContent{
      font-size: 14px;

    .navLinks{
      margin-right: 6vw;
    }
  }
}

@media (max-width: 430px){
  .navBarColumns{
    padding-left: 5px;
    padding-right: 5px;
  }

  .navBarContent{
      font-size: 14px;

    .navLinks{
      margin-right: 3vw;
    }
  }
}

@media (max-width: 360px){
  .navBarColumns{
    padding-left: 5px;
    padding-right: 5px;
  }

  .navBarContent{
      font-size: 12px;

    .navLinks{
      margin-right: 3vw;
    }
  }
}



////////////////////////////// HOME PAGE  ////////////////////////////////////
.intro{
  background-image: url('../images/macbook.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;

  .introContent{
    padding-top: 25vh;
    text-align: center;
  }
}

@media(max-width: 1380px){
  .intro{
    .introContent{
      padding-top: 30vh;
    }
  }
}

@media(max-width: 1300px){
  .intro{
    .introContent{
      padding-top: 32vh;
    }
  }
}

@media(max-width: 1200px){
  .intro{
    .introContent{
      padding-top: 34vh;
    }
  }
}

@media(max-width: 1060px){
  .intro{
    .introContent{
      padding-top: 33vh;
    }
  }
}

@media(max-width: 995px){
  .intro{
    .introContent{
      padding-top: 35vh;
    }
  }
}

@media(max-width: 860px){
  .intro{
    .introContent{
      padding-top: 36vh;
    }
  }
}

@media(max-width: 700px){
  .intro{
    height: 80vh;

    .introContent{
      padding-top: 27vh;
    }
  }
}

@media(max-width: 600px){
  .intro{
    .introContent{
      padding-top: 29vh;
    }
  }
}

@media(max-width: 542px){
  .intro{
    height: 70vh;

    .introContent{
      padding-top: 25vh;
    }
  }
}

@media(max-width: 486px){
  .intro{
    .introContent{
      padding-top: 26vh;
    }
  }
}

@media(max-width: 400px){
  .intro{
    height: 60vh;

    .introContent{
      padding-top: 23vh;
    }
  }
}

@media (max-width: 360px){
  .intro{
    .introContent{
      padding-top: 24vh;
    }
  }
}

@media (max-width: 333px){
  .intro{
    .introContent{
      padding-top: 24.5vh;
    }
  }
}

.myName,
.jobTitle{
  color: rgb(0,130,214);
  text-shadow: 1px 2px rgb(0,0,0);
  font-family: 'Cinzel', serif;
  text-decoration: none;
}

.myName{
  font-size: 100px;
}

.jobTitle{
  font-size: 40px;
}

@media (max-width: 1380px){
  .myName{
    font-size: 90px;
  }
  .jobTitle{
    font-size: 35px;
  }
}

@media (max-width: 1300px){
  .myName{
    font-size: 80px;
  }
  .jobTitle{
    font-size: 30px;
  }
}

@media (max-width: 1200px){
  .myName{
    font-size: 70px;
  }
  .jobTitle{
    font-size: 25px;
  }
}

@media (max-width: 995px){
  .myName{
    font-size: 60px;
  }
  .jobTitle{
    font-size: 25px;
  }
}

@media (max-width: 860px){
  .myName{
    font-size: 55px;
  }
  .jobTitle{
    font-size: 22.5px;
  }
}

@media (max-width: 700px){
  .myName{
    font-size: 50px;
  }
  .jobTitle{
    font-size: 20px;
  }
}

@media (max-width: 600px){
  .myName{
    font-size: 45px;
  }
  .jobTitle{
    font-size: 18px;
    text-shadow: 1px 1px rgb(0,0,0);
  }
}

@media (max-width: 542px){
  .myName{
    font-size: 40px;
  }
}

@media (max-width: 486px){
  .myName{
    font-size: 35px;
  }
}

@media (max-width: 431px){
  .myName{
    font-size: 30px;
  }
}

@media (max-width: 414px){
  .myName{
    font-size: 28px;
  }
  .jobTitle{
    font-size: 14px;
  }
}

@media (max-width: 360px){
  .myName{
    font-size: 26px;
  }
  .jobTitle{
    font-size: 12px;
  }
}

@media (max-width: 333px){
  .myName{
    font-size: 24px;
  }
  .jobTitle{
    font-size: 12px;
  }
}


//////////////////////////////// PORTFOLIO ///////////////////////////////////
.portfolio{
  padding-bottom: 15px;
  background-color: rgb(82,81,89);

  .portfolioTitleContainer{
    color: rgb(0,130,214);
    text-shadow: 1px 2px rgb(0,0,0);
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .myPortfolio{

    img{
      padding: 7.5px;

      &:hover{
        box-shadow: 0 0 20px rgb(198,198,198);
      }
    }
  }
}

@media (max-width: 1300px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 15px;
      padding-bottom: 10px;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 1100px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 13px;
      padding-bottom: 9px;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 900px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 0;
      padding-bottom: 0;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 750px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 0;
      padding-bottom: 0;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 26px;
      }
    }
  }
}

@media (max-width: 600px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 0;
      padding-bottom: 0;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 500px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 0;
      padding-bottom: 0;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 450px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 0;
      padding-bottom: 0;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 400px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 0;
      padding-bottom: 0;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 360px){
  .portfolio{
    .portfolioTitleContainer{
      padding-top: 0;
      padding-bottom: 0;

      .briefcaseIcon,
      .portfolioTitle{
        font-size: 18px;
      }
    }
  }
}

.viewCode{
  margin-top: 5px;
  margin-bottom: 25px;
  text-align: center;

  a{
    font-size: 20px;
    font-family: 'Cinzel', serif;
    color: rgb(0,130,214);
    text-shadow: 1px 2px rgb(0,0,0);

    &:hover{
      text-shadow: 0px 0px;
    }
  }
}

@media (max-width: 725px){
  .viewCode{
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;

    a{
      font-size: 18px;
      font-family: 'Cinzel', serif;
      color: rgb(0,130,214);
      text-shadow: 1px 2px rgb(0,0,0);

      &:hover{
        text-shadow: 0px 0px;
      }
    }
  }
}

@media (max-width: 620px){
  .viewCode{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;

    a{
      font-size: 16px;
      font-family: 'Cinzel', serif;
      color: rgb(0,130,214);
      text-shadow: 1px 2px rgb(0,0,0);

      &:hover{
        text-shadow: 0px 0px;
      }
    }
  }
}

@media (max-width: 520px){
  .viewCode{
    margin-top: 4px;
    margin-bottom: 12px;
    text-align: center;

    a{
      font-size: 14px;
      font-family: 'Cinzel', serif;
      color: rgb(0,130,214);
      text-shadow: 1px 2px rgb(0,0,0);

      &:hover{
        text-shadow: 0px 0px;
      }
    }
  }
}

@media (max-width: 360px){
  .viewCode{
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center;

    a{
      font-size: 12px;
      font-family: 'Cinzel', serif;
      color: rgb(0,130,214);
      text-shadow: 1px 2px rgb(0,0,0);

      &:hover{
        text-shadow: 0px 0px;
      }
    }
  }
}

///////////////////////////////// RESUME /////////////////////////////////////
.resume{
  background-color: rgb(198,198,198);
  padding-bottom: 50px;

  .resumeContainer{
    color: rgb(255,255,255);
    text-shadow: 1px 2px rgb(0,0,0);
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1300px){
  .resume{
    .resumeContainer{
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 35px;
    }
  }
}

@media (max-width: 1100px){
  .resume{
    .resumeContainer{
      padding-top: 13px;
      padding-bottom: 9px;
      font-size: 32px;
    }
  }
}

@media (max-width: 900px){
  .resume{
    .resumeContainer{
      font-size: 28px;
    }
  }
}

@media (max-width: 750px){
  .resume{
    .resumeContainer{
      font-size: 26px;
    }
  }
}

@media (max-width: 600px){
  .resume{
    .resumeContainer{
      font-size: 24px;
    }
  }
}

@media (max-width: 450px){
  .resume{
    .resumeContainer{
      font-size: 22px;
    }
  }
}

@media (max-width: 400px){
  .resume{
    .resumeContainer{
      font-size: 20px;
    }
  }
}

@media (max-width: 360px){
  .resume{
    .resumeContainer{
      font-size: 18px;
    }
  }
}

.digitalResume{
  background-color: rgb(255,255,255);
  padding: 10px;
  padding-top: 0;
}

.skillsTitle,
.educationTitle{
  font-family: 'Cinzel', serif;
  font-weight: bold;
  letter-spacing: 5px;
  color: rgb(82,81,89);
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 1220px){
  .skillsTitle,
  .educationTitle{
    font-size: 28px;
    margin-top: 13px;
    margin-bottom: 13px;
  }
}

@media (max-width: 1000px){
  .skillsTitle,
  .educationTitle{
    font-size: 26px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

@media (max-width: 991px){
  .digitalResume{
    padding-top: 10px;
  }

  .skills{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .education{
    margin-top: 10px;
  }
}

@media (max-width: 750px){
  .skillsTitle,
  .educationTitle{
    font-size: 24px;
  }
}

@media (max-width: 600px){
  .skillsTitle,
  .educationTitle{
    font-size: 22px;
  }
}

@media (max-width: 500px){
  .skillsTitle,
  .educationTitle{
    font-size: 20px;
    letter-spacing: 2px;
  }
}


.education,
.skills{
  box-shadow: inset 0 0 10px rgb(82,81,89);
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover{
    box-shadow: 0 0 10px rgb(82,81,89);
  }
}

.skills{
  text-align: center;
  font-size: 20px;
  font-family: 'Cinzel', serif;

  a{
    color: rgb(82,81,89);

    &:hover{
      color: rgb(0,130,214);
    }
  }
}

@media (max-width: 1100px){
  .skills{
    font-size: 18px;
  }
}

@media (max-width: 900px){
  .skills{
    font-size: 16px;
  }
}

@media (max-width: 652px){
  .skills{
    font-size: 14px;
  }

  .skillsList{
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 470px){
  .skills{
    font-size: 12px;
  }
}

@media (max-width: 415px){
  .skills{
    font-size: 11px;
  }
}

@media (max-width: 360px){
  .skills{
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

.theIronYardLogo{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.theIronYardExperience{
  font-family: 'Cinzel', serif;
  font-size: 20px;
  color: rgb(82,81,89);
  text-align: center;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;

  .theIronYardTitle{
    font-weight: bold;
  }

  .theIronYardDate{
    font-size: 15px;
  }
}

@media (max-width: 1329px){
  .theIronYardExperience{
    padding-top: 35px;
  }
}

@media (max-width: 1262px){
  .theIronYardExperience{
    padding-top: 32px;
  }
}

@media (max-width: 1195px){
  .theIronYardExperience{
    padding-top: 30px;
  }
}

@media (max-width: 1100px){
  .theIronYardExperience{
    padding-top: 28px;
  }
}

@media (max-width: 830px){
  .theIronYardExperience{
    padding-top: 24px;
  }

  .theIronYardTitle{
    font-size: 18px;
  }
}

@media (max-width: 767px){
  .theIronYardExperience{
    margin-left: 25px;
  }
}

@media (max-width: 665px){
  .theIronYardExperience{
    padding-top: 16px;
  }
}

@media (max-width: 652px){
  .education{
    padding:0;
  }
  .theIronYardExperience{
    padding-top: 28px;
    line-height: 18px;

    .theIronYardTitle{
      font-size: 16px;
    }

    .theIronYardDate{
      font-size: 12px;
    }
  }
}

@media (max-width: 600px){
  .theIronYardExperience{
    padding-top: 25px;
  }
}

@media (max-width: 540px){
  .theIronYardExperience{
    padding-top: 20px;
  }
}

@media (max-width: 502px){
  .theIronYardLogo{
    width: 100px;
    display: inline-block;
    margin-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
  }

  .theIronYardExperience{
    display: inline-block;
    padding-top: 30px;
    padding-left: 0;
    width: 60%;
    text-align: center;
  }
}

@media (max-width: 437px){
  .theIronYardExperience{
    width: 60%;
    margin: 0;
  }
}

@media (max-width: 416px){
  .theIronYardLogo{
    width: 90px;
  }

  .theIronYardExperience{
    width: 68%;
    padding-top: 25px;
  }
}

@media (max-width: 392px){
  .theIronYardExperience{
    width: 60%;
    padding-top: 25px;

    .theIronYardTitle{
      font-size: 14px;
    }

    .theIronYardDate{
      font-size: 10px;
    }
  }
}

@media (max-width: 360px){
  .theIronYardExperience{
    width: 65%;
    padding-top: 25px;

    .theIronYardTitle{
      font-size: 14px;
    }

    .theIronYardDate{
      font-size: 10px;
    }
  }
}

@media (max-width: 358px){
  .theIronYardLogo{
    padding-left: 15px;
    width: 70px;
  }
}

@media (max-width: 329px){
  .theIronYardExperience{
    width: 70%;
    padding-top: 22px;
  }
}

@media (max-width: 325px){
  .theIronYardLogo{
    padding-left: 15px;
    width: 65px;
  }
}



.fullResumeContainer{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;

  .fullResume{
    color: rgb(82,81,89);
    font-family: 'Cinzel', serif;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(82,81,89);
    color: rgb(255,255,255);
    text-shadow: 1px 2px rgb(0,0,0);

    &:hover{
      background-color: rgb(73,73,73);
    }
  }
}

@media (max-width: 1100px){
  .fullResumeContainer{
    .fullResume{
      font-size: 18px;
    }
  }
}

@media (max-width: 800px){
  .fullResumeContainer{
    .fullResume{
      font-size: 16px;
    }
  }
}

@media (max-width: 650px){
  .fullResumeContainer{
    .fullResume{
      font-size: 14px;
    }
  }
}


////////////////////////////////// ABOUT ///////////////////////////////////////
.about{
  background-color: rgb(82,81,89);
  padding-bottom: 70px;

  .aboutTitleContainer{
    color: rgb(0,130,214);
    text-shadow: 1px 2px rgb(0,0,0);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;

    .aboutTitle{
      font-family: 'Cinzel', serif;
    }
  }
}

@media (max-width: 1300px){
  .about{
    .aboutTitleContainer{
      font-size: 35px;
    }
  }
}

@media (max-width: 1100px){
  .about{
    .aboutTitleContainer{
      font-size: 32px;
    }
  }
}

@media (max-width: 1000px){
  .about{
    .aboutTitleContainer{
      font-size: 30px;
    }
  }
}

@media (max-width: 900px){
  .about{
    .aboutTitleContainer{
      font-size: 28px;
    }
  }
}

@media (max-width: 750px){
  .about{
    .aboutTitleContainer{
      font-size: 26px;
    }
  }
}

@media (max-width: 600px){
  .about{
    .aboutTitleContainer{
      font-size: 24px;
    }
  }
}

@media (max-width: 450px){
  .about{
    .aboutTitleContainer{
      font-size: 22px;
    }
  }
}

@media (max-width: 400px){
  .about{
    .aboutTitleContainer{
      font-size: 20px;
    }
  }
}

@media (max-width: 360px){
  .about{
    .aboutTitleContainer{
      font-size: 18px;
    }
  }
}

.aboutContentContainer{
  padding-left: 0;
  padding-right: 0;
  font-size: 25px;
  font-family: 'EB Garamond', serif;
}

.myPhoto{
  padding-left: 0;
}

.aboutMe{
  padding-top: 10px;
  padding-right: 0;
  color: rgb(0,0,0);

  a{
    color: black;

    .hereLink{
      color: rgb(0,130,214);
      text-shadow: 1px 2px rgb(0,0,0);

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.aboutMeInfo{
  margin-bottom: 15px;
}

@media (max-width: 1406px){
  .myPhoto{
    margin-top: 15px;
  }
}

@media (max-width: 1375px){
  .myPhoto{
    margin-top: 25px;
  }
}

@media (max-width: 1372px){
  .myPhoto{
    margin-top: 40px;
  }
}

@media (max-width: 1345px){
  .myPhoto{
    margin-top: 60px;
  }
}

@media (max-width: 1300px){
  .myPhoto{
    margin-top: 0px;
  }

  .aboutContentContainer{
    font-size: 23px;
  }

  .aboutMe{
    padding-top: 0px;
  }
}

@media (max-width: 1296px){
  .myPhoto{
    margin-top: 10px;
  }
}

@media (max-width: 1264px){
  .myPhoto{
    margin-top: 30px;
  }
}

@media (max-width: 1239px){
  .myPhoto{
    margin-top: 50px;
  }
}

@media (max-width: 1200px){
  .myPhoto{
    margin-top: 0px;
  }

  .aboutContentContainer{
    font-size: 21px;
  }

  .aboutMe{
    padding-top: 10px;
  }
}

@media (max-width: 1185px){
  .myPhoto{
    margin-top: 10px;
  }

  .about{
    padding-bottom: 60px;
  }

  .aboutMe{
    padding-top: 0px;
  }
}

@media (max-width: 1156px){
  .myPhoto{
    margin-top: 30px;
  }
}

@media (max-width: 1150px){
  .about{
    padding-bottom: 55px;
  }
}

@media (max-width: 1133px){
  .myPhoto{
    margin-top: 45px;
  }
}

@media (max-width: 1100px){
  .myPhoto{
    margin-top: 0px;
  }

  .aboutContentContainer{
    line-height: 22px;
  }

  .aboutMeInfo{
    margin-bottom: 10px;
  }
}

@media (max-width: 1075px){
  .myPhoto{
    margin-top: 5px;
  }
}

@media (max-width: 1050px){
  .myPhoto{
    margin-top: 10px;
  }
}

@media (max-width: 1000px){
  .myPhoto{
    margin-top: 15px;
  }

  .about{
    padding-bottom: 45px;
  }
}

@media (max-width: 960px){
  .myPhoto{
    margin-top: 20px;
  }
}

@media (max-width: 930px){
  .myPhoto{
    margin-top: 35px;
  }
}

@media (max-width: 912px){
  .myPhoto{
    margin-top: 40px;
  }
}

@media (max-width: 900px){
  .aboutContentContainer{
    font-size: 19px;
  }

  .myPhoto{
    padding-right: 0;
    margin-top: 18px;
  }
}

@media (max-width: 875px){
  .myPhoto{
    margin-top: 22px;
  }
}

@media (max-width: 850px){
  .myPhoto{
    margin-top: 26px;
  }
}

@media (max-width: 844px){
  .myPhoto{
    margin-top: 35px;
  }
}

@media (max-width: 820px){
  .myPhoto{
    margin-top: 40px;
  }
}

@media (max-width: 800px){
  .aboutContentContainer{
    font-size: 18px;
  }

  .myPhoto{
    margin-top: 45px;
  }
}

@media (max-width: 775px){
  .myPhoto{
    margin-top: 50px;
  }
}

@media (max-width: 750px){
  .myPhoto{
    margin-top: 55px;
  }
}

@media (max-width: 725px){
  .myPhoto{
    margin-top: 65px;
  }
}

@media (max-width: 700px){
  .aboutContentContainer{
    font-size: 16px;
  }

  .myPhoto{
    margin-top: 62px;
  }
}

@media (max-width: 650px){
  .myPhoto{
    margin-top: 70px;
  }
}

@media (max-width: 625px){
  .myPhoto{
    margin-top: 75px;
  }
}

@media (max-width: 613px){
  .myPhoto{
    margin-top: 90px;
  }
}

@media (max-width: 613px){
  .myPhoto{
    margin-top: 105px;
  }
}

@media (max-width: 550px){
  .myPhoto{
    margin-top: 110px;
  }
}

@media (max-width: 525px){
  .aboutContentContainer{
    font-size: 14px;
    line-height: 18px;
  }

  .aboutMeInfo{
    margin-bottom: 8px;
  }

  .myPhoto{
    margin-top: 80px;
  }
}

@media (max-width: 500px){
  .myPhoto{
    margin-top: 92px;
  }
}

@media (max-width: 475px){
  .myPhoto{
    margin-top: 100px;
  }
}

@media (max-width: 450px){
  .aboutContentContainer{
    font-size: 12px;
  }

  .myPhoto{
    margin-top: 80px;
  }
}

@media (max-width: 425px){
  .myPhoto{
    width: 50%;
    margin-top: 5px;
    margin-left: 15vw;
    margin-bottom: 15px;
  }

  .aboutContentContainer{
    width: 84%;
    text-align: justify;
    margin-left: 16vw;
  }
}


////////////////////////////// CONTACT INFO //////////////////////////////////
.contactMe{
  background-color: rgb(198,198,198);
  padding-top: 10px;
  padding-bottom: 100px;
}

.contactMeTitle{
  font-family: 'Cinzel', serif;
  color: rgb(255,255,255);
  text-shadow: 1px 2px rgb(0,0,0);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 40px;
}

@media (max-width: 1300px){
  .contactMeTitle{
    font-size: 35px;
  }
}

@media (max-width: 1100px){
  .contactMeTitle{
    font-size: 32px;
  }
}

@media (max-width: 1000px){
  .contactMeTitle{
    font-size: 30px;
  }
}

@media (max-width: 900px){
  .contactMeTitle{
    font-size: 28px;
  }
}

@media (max-width: 750px){
  .contactMeTitle{
    font-size: 26px;
  }
}

@media (max-width: 600px){
  .contactMeTitle{
    font-size: 24px;
  }
}

@media (max-width: 450px){
  .contactMeTitle{
    font-size: 22px;
  }
}

@media (max-width: 400px){
  .contactMeTitle{
    font-size: 20px;
  }
}

@media (max-width: 360px){
  .contactMeTitle{
    font-size: 18px;
  }
}

.contactMeInfoContainer{
  a{
    color: rgb(82,81,89);

    &:hover{
      color: rgb(255,255,255);
      text-shadow: 1px 2px rgb(0,0,0);
    }
  }
}

.myContactIcon{
  i{
    font-size: 40px;
  }
}

.myContactDetails{
  font-size: 25px;
  font-family: 'Cinzel', serif;
}

.contactRowSpacer{
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 1113px){
  .myContactIcon{
    i{
      font-size: 32px;
    }
  }

  .myContactDetails{
    font-size: 22px;
  }
}

@media (max-width: 790px){
  .myContactIcon{
    i{
      font-size: 30px;
    }
  }

  .myContactDetails{
    font-size: 20px;
  }
}

@media (max-width: 736px){
  .myContactIcon{
    i{
      font-size: 28px;
    }
  }

  .myContactDetails{
    font-size: 18px;
  }
}

@media (max-width: 683px){
  .myContactIcon{
    i{
      font-size: 26px;
    }
  }

  .myContactDetails{
    font-size: 16px;
  }
}

@media (max-width: 630px){
  .myContactIcon{
    i{
      font-size: 24px;
    }
  }

  .myContactDetails{
    font-size: 14px;
  }
}

@media (max-width: 576px){
  .myContactIcon{
    i{
      font-size: 22px;
    }
  }

  .myContactDetails{
    font-size: 12px;
  }
}

@media (max-width: 523px){
  .contactMeTitle{
    margin-bottom: 10px;
  }

  .contactMe{
    padding-bottom: 50px;
  }

  .myPersonalContactInfo{
    width: 100%;
    // margin-left: 25vw;
    text-align: center;
  }

  .mySocialInfo{
    width: 100%;
    // margin-left: 25vw;
    text-align: center;
  }

  .myContactDetails{
    font-size: 16px;
  }

  .myLinkedIn{
    top: 80px;
  }

  .myEmail{
    bottom: 30px;
  }

  .myTwitter{
    top: 50px;
  }

  .myLocation{
    bottom: 60px;
  }

  .myGitHub{
    top: 20px;
  }
}

@media (max-width: 423px){
  .myContactIcon{
    i{
      font-size: 20px;
    }
  }

  .myContactDetails{
    font-size: 14px;
  }

  .myLinkedIn{
    top: 65px;
  }

  .myTwitter{
    top: 35px;
  }

  .myGitHub{
    top: 5px;
  }
}
